/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.brand-logo {
  /*font-family: 'Montserrat', sans-serif;*/
  color: #2d3047;
}

a.connectLink {
  color: #fff;
}

a.connectLink:hover {
  color: #2d3047;
}


#topCapLogo {
  width: 100px;
  margin-left: -13%;
  margin-top: 5px;
}

#bottomCapLogo {
  width: 100px;
  float: right;
  margin-right: -40%;
  margin-top: -129px;
}


/* label color */
/*.input-field label {
  color: #22a7f0;
}*/
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #0081af;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #0081af;
  box-shadow: 0 1px 0 0 #0081af;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #0081af;
  box-shadow: 0 1px 0 0 #0081af;
}
/* invalid color */
/*.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}*/
/* icon prefix focus color */
/*.input-field .prefix.active {
  color: #22a7f0;
}*/

.card-title {
  background-color: rgba(0, 0, 0, 0.5);
}

.card .card-content {
    height: 230px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}